<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/DeBank.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.debank.app</string>
		<key>CFBundleShortVersionString</key>
		<string>1.1</string>
		<key>CFBundleVersion</key>
		<string>7</string>
		<key>SigningIdentity</key>
		<string>iPhone Distribution: Taisuke Mino (UB87ZVZL7R)</string>
		<key>Team</key>
		<string>UB87ZVZL7R</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2019-10-19T03:07:21Z</date>
	<key>Name</key>
	<string>DeBank</string>
	<key>SchemeName</key>
	<string>DeBank</string>
</dict>
</plist>
